<div class="header-nav level">
  <div class="level-left">
    <div class="level-item has-text-centered my-3">
      <span class="icon is-medium">
        <ion-icon name="heart-half-outline" size="large"></ion-icon>
      </span>
      <h1 class="level-item title is-2">
        TODO
      </h1>
    </div>
  </div>
  <div class="menu-list level-item has-text-centered">
    <a class="link is-info">Menu</a>
    <a class="link is-info">Menu</a>
    <a class="link is-info">Menu</a>
  </div>
  <div class="log-in level-right has-text-centered">
    <a class="button is-primary is-light is-small">Log-in</a>
  </div>
</div>